.bar {
  font-family: monospace;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.main-item {
  display: inline-block;
  flex: 0 1 auto;
}

.button {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 12px;
  border: black solid 2px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  border-color: gray;
}

.button:active {
  border-color: dimgray;
}

.message {
  font-size: 20px;
  font-weight: bold;
}

.expander {
  position: relative;
}

.expandable {
  position: absolute;
  display: none;
  z-index: 1;
  right: 0.75em;
  text-align: right;
}

.expandable.open {
  display: block;
}