.square {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  flex: 0 1 2.5em;
  border: lightgray solid 1px;
  background-color: lightgray;
  user-select: none;
}

.square:not(.opened):hover {
  border-color: black;
  cursor: pointer;
}

.square.opened {
  background-color: white;
}

.square > .dummy {
  margin-top: 100%;
}

.square > .value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-size: 1.25em;
  overflow: hidden;
}
