.square {
  display: inline-block;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  vertical-align: bottom;
  font-family: monospace;
  font-size: 1.5em;
  border: #bbbbbb solid 2px;
  background-color: #cacaca;
  user-select: none;
  border-radius: 8px;
  margin: 2px;
}

.square:not(.opened):hover {
  border-color: black;
  cursor: pointer;
}

.square.opened {
  background-color: white;
  border-color: #e2dfdf;
}

.square.number {
  color: gray;
}
