.field {
  display: inline-block;
}

.field-row {
  display: block;
}

.field-cell {
  font-size: 1.25em;
  font-family: monospace;
  display: inline-block;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  vertical-align: bottom;
  cursor: pointer;
  user-select: none;
}
.field-cell:hover {
  background-color: lightgray;
}