.square {
  display: inline-block;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  vertical-align: bottom;
  font-family: monospace;
  font-size: 1.5em;
  border: lightgray solid 2px;
  background-color: white;
  user-select: none;
}

.square.number {
  color: gray;
}

.square.closed {
  background-color: lightgray;
  cursor: pointer;
}

.square.closed:hover {
  border-color: black;
}
