.square {
  display: inline-block;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  vertical-align: bottom;
  font-family: monospace;
  font-size: 1.5em;
  border: lightgray solid 2px;
  background-color: lightgray;
  user-select: none;
}

.square:not(.opened):hover {
  border-color: black;
  cursor: pointer;
}

.square.opened {
  background-color: white;
}

.square.number {
  color: gray;
}
